<div *ngIf="error" class="alert alert-danger mt-3 mb-10">{{ error }}</div>
  <div class="card">
    <h4 class="card-header">
      News Ticker
      <button
        class="btn btn-success float-right"
        (click)="open(editNewsTickermodal, null)"
      >
        Add
      </button>
    </h4>
    <div class="card-body">
      <ngx-datatable
        class="bootstrap"
        [rows]="newsTickers"
        [columnMode]="'force'"
        [loadingIndicator]="loading"
        [sorts]="[{ prop: 'name', dir: 'desc' }]"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)"
        [externalSorting]="true"
        (sort)="onSort($event)"
      >
        <ngx-datatable-column name="Title">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.title }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="IsActive">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.isActive ? 'Active' : 'Inactive'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              class="btn btn-primary"
              (click)="open(editNewsTickermodal, row)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger ml-2"
              (click)="openDeleteConfirmation(deleteNewsTickermodal, row)"
            >
              Delete
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

<ng-template #editNewsTickermodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">News Ticker Modal</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="newsTickerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
          />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="isActive">
            <input
              type="checkbox"
              formControlName="isActive"
              class="form-control1"
            />
            Is Active?</label
          >
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Save
        </button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #deleteNewsTickermodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete News Ticker Modal</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form [formGroup]="newsTickerForm" (ngSubmit)="onDeleteConfirmation()">
        <div class="form-group">
          Are you sure you want to delete this record?
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Yes
        </button>
      </form>
    </div>
  </div>
</ng-template>
