﻿<div class="card mt-4">
  <h4 class="card-header">User feedbacks</h4>
  <div class="card-body">
    <ngx-datatable
      class="bootstrap"
      [rows]="feedBacks"
      [columnMode]="'force'"
      [loadingIndicator]="loading"
      [sorts]="[{ prop: 'title', dir: 'asc' }]"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)="setPage($event)"
      [externalSorting]="true"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column name="MobileNo">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.mobileNo }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Title">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.title }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Description">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.description }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
