<div class="card mt-4">
  <h4 class="card-header">Users
    <button
    class="btn btn-success float-right"
    (click)="exportData()">
    Export
  </button>
  </h4>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group row">
          <label for="fromdate" class="col-sm-4 col-form-label">From Date</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="fromdate" name="from" [(ngModel)]="fromdate">
          </div>
        </div>   
      </div>
      <div class="col-sm-5">
        <div class="form-group row">
          <label for="todate" class="col-sm-4 col-form-label">To Date</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="todate" name="todate" [(ngModel)]="todate">
          </div>
        </div>   
      </div>
      <div class="col-sm-2">
        <button  class="btn btn-warning float-right" (click)="clearFilters()"> Clear </button>  
        <button class="btn btn-danger mr-2 float-right" (click)="filterDate()"> Filter </button>          
      </div>
    </div>
   

    <ngx-datatable
      class="bootstrap"
      [rows]="users"
      [columnMode]="'force'"
      [loadingIndicator]="loading"
      [sorts]="[{ prop: 'createdOn', dir: 'desc' }]"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)="setPage($event)"
      [externalSorting]="true"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column name="MobileNo">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.mobileNo }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="CreatedOn">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.createdOn | date:'medium'}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
